# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
.venv
.ipynb_checkpoints/

# Data & outputs
data/*
!data/.gitignore
outputs/*
!outputs/figures/
!outputs/models/

# OS
.DS_Store
Thumbs.db
notebooks/outputs/
